#member-container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    h1{
        color: $mainPink;
        padding: 0rem 10rem 0rem 10rem;
    }

    p{
        margin: 0rem 1.5rem 0rem 1.5rem;
    }
}

.form-container{
    width: 85%;
    background: #fff;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    .input-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 1rem;
        position: relative;
    }
    .input-group label{
        margin-bottom: .2rem;
    }
    .input-group input, .input-group textarea{
        background: transparent;
        border: none;
        padding: 10px 0;
        border: 1px solid #707070;
        font-size: 16px;
    }

    textarea{
        height: 219px;
    }
    
    button{
        background: $mainPink;
        color: #fff;
        border-radius: 50px;
        border: none;
        padding: 10px 40px;
        outline: 0;
        cursor: pointer;
        margin: 25px auto 10px;
    }

    .input-group span{
        position: absolute;
        bottom: 12px;
        right: 17px;
        font-size: 15px;
        color: red;

        i{
            color: $mainPink;
        }
    }

    #submit-error{
        color: red;
        font-size: 14px;
    }
}