#member-container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    h1{
        color: $mainPink;
        padding: 0rem 1rem 0rem 1rem;

        @media (min-width:$tab) and (max-width: $desk){
            padding: 0rem 10rem 0rem 10rem;
        }
    }

    p{
        margin: 0rem 1.5rem 0rem 1.5rem;
    }
}

.form-container{
    width: 85%;
    background: #fff;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    .input-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 1rem;
        position: relative;
    }
    .input-group label{
        margin-bottom: .2rem;
    }
    .input-group input, .input-group textarea{
        background: transparent;
        border: none;
        padding: 10px 0;
        border: 1px solid #707070;
        font-size: 16px;
    }

    textarea{
        height: 219px;
    }
    
    button{
        background: $mainPink;
        color: #fff;
        border-radius: 50px;
        border: none;
        padding: 10px 40px;
        outline: 0;
        cursor: pointer;
        margin: 25px auto 10px;
    }

    .input-group span{
        position: absolute;
        bottom: 12px;
        right: 17px;
        font-size: 15px;
        color: red;

        i{
            color: $mainPink;
        }
    }

    #submit-error{
        color: red;
        font-size: 14px;
    }
}

.complete{
    display: none;
}

#result{
    position: fixed;
    

    .result-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;    
        @include flexLayout;
        flex-direction: column;
        text-align: center;
        background-color: #F7F0F2;
        z-index: 700;
        
        h2{
            font-size: $heading;
            font-weight: bold;
        }

        .customer-name{
            font-size: $small;
            color: $mainPink;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        img{
            border: 7px solid $mainPink;
            border-radius: 50%;
            width: 50%;
            margin-bottom: 2.5rem;
        }
        .message{
            font-size: $small;
            width: 80%;
        }
        .results-button{
            width: 320px;
            height: 60px;
            background-color: $mainPink;
            @include flexLayout;
            margin-top: 1rem;
            border-radius: 50px;
            
            a{
                color: $white;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}
.result-container:nth-child(5){
    font-size: $small;
}
.result-container p:nth-child(3){
    margin-bottom: 2rem;
}