#member-container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    h1{
        color: $mainPink;
    }

    p{
        margin: 0rem 1.5rem 0rem 1.5rem;
    }
}

.form{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;


    label{
        font-size: 20px;
        padding-bottom: .5rem;
    }
    input{
       width: 100%;
       height: 40px; 
       margin-bottom: 1rem;
    }

    #inqury{
        height: 219px;
    }

    #submitBtn{
        margin-top: 1rem;
        width: 8rem;
        height: 2.5rem;
        @include button;
        border-radius: 50px;
        background-color: $mainPink;
        font-weight: 500;
    }
}