.footer{
    width: 100%;
    background-color: $footer;
    
    &-icons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;

        i.fa-brands{
            font-size: 40px;
            color: $white;
            align-self: center;
            cursor:pointer;
        }

        @media (min-width:$tab) and (max-width: $desk){
            justify-content: center;

            i.fa-brands{
                margin: .5rem;
                font-size: 80px;
            }
        }

    }
    &-info{
        font-size: $xsmall;
        text-align: center;
        padding-bottom: 1.5rem;
        cursor:pointer;
    }
}