.member{
    width: 100%;
    background-color: $memberBG;

    &-container{
        @include flexLayout;
        flex-direction: column;
        padding: 44px 0px 44px 0px;
        text-align: center;

        h3{
            @include textStyles(uppercase);
            font-size: $heading;
            font-weight: bold;
        }

        p{
            font-size: $small;
            padding: 12px 0px 12px 0px;
        }

        button{
            width: 20rem;
            height: 3.75rem;
            border-radius: 50px;
            border: none;
            background-color:$mainPink;
            box-shadow: 0px 2px 5px darkgray;
            margin-top: 29px;
            margin-bottom: 10px;

            a{
                @include button;
            }
        }
    }
}